body{
    background-color: cyan;

}
.heading{
     text-align: center ;
     font-style: italic;
     text-decoration: underline;
     color: brown;
}

button{
    border-radius: 5px;
    background-color: cadetblue ;
    padding: 10px;
    margin-left: 40%;
    cursor: pointer;
    border-radius: 30%;
}

.parent{
    border: 2px solid rgba(0, 0, 0, 0);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.card{
    background-color: red;
    height: 200px; width: 200px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: blue;
    
}